body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #5f9cda;
  }
  
  h1 {
    margin: 5px;
    padding: 10px;
    background: tomato;
    width: 42%;
  }
  .alert-fail {
    max-width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #db5f5f;
    margin-bottom: 15px;
  }
  .alert-success {
    max-width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #5ceb68 ;
    margin-bottom: 15px;
  }
  .alert-failCreate {
    max-width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #db5f5f;
    margin-bottom: 15px;
  }
  .alert-successCreate {
    max-width: 30%;
    padding: 10px;
    margin: 5px;
    background-color: #5ceb68 ;
    margin-bottom: 15px;
  }
  .updated {
    background-color: #5ceb68 ;
  }
  .hidden {
    display: none;
  }
  .snippet {
    max-width: 40%;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eec85e;
  }
  .snippet_owner {
    margin: 10px;
    display: inline-block;
    color: #2a1588;
  }
  .snippet_name {
    margin: 10px;
    display: inline-block;
    color: #da336b;
  }
  .snippet_text {
    margin: 10px;
    color: #037c03;
  }
  
  .links {
    text-decoration: none;
    color: #fdf5e6;
    padding: 15px;
    display: inline-block;
    margin: 5px;
    background-color: rgb(33, 160, 90);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  .current_user {
    width: 42%;
    margin: 5px;
    color: rgb(252, 216, 216);
    padding: 10px;
    background-color: #9724c5;
  }
  .saved_snippets {
    width: 42%;
    margin: 5px;
    padding: 10px;
    color: rgb(252, 216, 216);
    background-color: #b028b4;
  } 
  .edit_button {
    margin: 5px;
  }
  .delete_button {
    margin: 5px;
  }
  .create_snippet {
    margin: 5px;
    max-width: 40%;
    padding: 10px;
    color: moccasin;
    background-color: #145ea3;
  }
  .create_form {
    margin: 5px;
    max-width: 45%;
    background-color: #f57a28;
  }
  .snippet_namearea {
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
  }
  .snippet_textarea {
    margin: 5px;
    resize: none;
    padding: 25px;
    width: 80%;
    height: 100px;
    background-color: #dadada;
  }
  .create_button {
    margin: 5px;
    padding: 15px;
  } 
  
  .big_button {
    margin: 5px;
    padding: 15px;
  }
  
  #header_text {
    background-color: #00685d;
    color: #1dbd18;
    font-size: 15; 
    width: 50%;
    text-align: center;
    margin: 5px;
  }
  
  #footer_text {
    background-color: #00685d;
    color: #1dbd18;
    font-size: 9; 
    width: 50%;
    text-align: center;
    margin: 5px;
  }
  
  .unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  
  .snippet_inside {
    color: #c700b6;
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+/Edge */
    user-select: text; /* Standard */
  }
  
  #github {
    float: right;
    margin-right: 350px;
    margin-top: -50px;
  }
  .issues img {
    max-width: 40px;
  }
  
  